<%= form_for @post, html: { multipart: true } do |f| %>
<div class="form-group">
  <%= f.label :title %>:
  <%= f.text_field :title, required: true, :class => 'form-control' %>
 </div>
 <div class="form-group">
  <%= f.label value="Upload Image" %>:
  <%= f.file_field :image, required: true, :class => 'form-control' %>
 </div>
<div class="form-group">
  <%= f.label :body %>:
  <%= f.text_area :body, required: true, :class => 'form-control'  %><br />
</div>
  <%= f.submit :class => 'btn btn-lg btn-success btn-block' %>
<% end %>

