<%= form_for @post, html: { multipart: true } do |f| %>
<div class="form-group">
  <%= f.label :title %>:
  <%= f.text_field :title, :class => 'form-control' %>
 </div>
 <div class="form-group">
  <%= f.label :image %>:
  <%= f.file_field :image, :class => 'form-control' %>
 </div>
<div class="form-group">
  <%= f.label :body %>:
  <%= f.text_area :body, :class => 'form-control'  %><br />
</div>
<div class="form-group">
  <%= f.label :category %>:
  <%= f.select :category, options_for_posts_cat, :class => 'form-control'  %><br />
</div>
  <%= f.submit :class => 'btn btn-success' %>
<% end %>

