<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body class="mt70 dual-sidebar">

  <%= render '/layouts/partials/top_header'%>
 
	
	<!--main_area start-->
		<div class="all-elements">
    <div class="snap-drawers">
		<%= render '/layouts/partials/left_sidebar'%>
		<%= render '/layouts/partials/right_sidebar'%>
		<div id="content" class="snap-content">
            <div class="header-clear"></div>
            <!--Page content goes here, fixed elements go above the all elements class-->  
            <!--signup page start-->
           <div class="pageapp-login bg-5 cover-screen">    
                <div class="pageapp-login-content cover-center">
                    <div class="unboxed-layout">
                        <a class="pageapp-login-logo" href="#"></a>
                         <a href="#" class="facebook-login button-green"><i class="fa fa-envelope"></i>SIGNUP WITH EMAIL</a>
                        <div class="decoration"></div>
                        <a href="#" class="facebook-login facebook-color"><i class="fa fa-facebook"></i>SIGNUP WITH FASCEBOOK</a>
                        <a href="#" class="twitter-login twitter-color no-bottom"><i class="fa fa-twitter"></i>SIGNUP WITH TWITTER</a>   
                       <a href="#" class="google-login google-color"><i class="fa fa-google-plus"></i>SIGNUP WITH GOOGLE</a>                  
                    </div>
                </div>
                <div class="overlay bg-black"></div>
            </div>
            <!--signup page end-->
            <!--signin page start-->
           <div class="pageapp-login bg-5 cover-screen">    
                <div class="pageapp-login-content cover-center">
                    <div class="unboxed-layout">
                        <a class="pageapp-login-logo" href="#"></a>
                        <div class="pageapp-login-field">
                            <i class="fa fa-user"></i>
                            <input type="text" value="Username" onfocus="if (this.value=='Username') this.value = ''" onblur="if (this.value=='') this.value = 'Username'">
                        </div>
                        <div class="pageapp-login-field">
                            <i class="fa fa-lock"></i>
                            <input type="password" value="password" onfocus="if (this.value=='password') this.value = ''" onblur="if (this.value=='') this.value = 'password'">
                        </div>
                        <a href="#" class="pageapp-login-button button button-small button-green button-fullscreen">Login</a>
                        <div class="decoration"></div>
                        <a href="#" class="facebook-login facebook-color"><i class="fa fa-facebook"></i>SIGN IN WITH FASCEBOOK</a>
                        <a href="#" class="twitter-login twitter-color no-bottom"><i class="fa fa-twitter"></i>SIGN IN WITH TWITTER</a>   
                       <a href="#" class="google-login google-color"><i class="fa fa-google-plus"></i>SIGN IN WITH GOOGLE</a>                  
                    </div>
                </div>
                <div class="overlay bg-black"></div>
            </div>
            <!--signin page end-->
            <!--subscribe page start-->
            <div class="container-fullscreen coverpage-slider" data-snap-ignore="true">
                    <div class="cover-slide cover-screen bg-5">
                        <div class="cover-center">
                            <i class="fa fa-cog cover-icon-center cover-icon-round full-bottom"></i>
                            <h3 class="center-text bold uppercase">Coverpages</h3>
                            <p class="center-text">
                                We love building awesome stuff, and nothing 
                                says awesome stuff like a coverpage slider!
                            </p>
                            <a href="#" class="button button-cover button-center">Read More</a>
                        </div>
                        <div class="overlay bg-black"></div>
                    </div>

                    <div class="cover-slide cover-screen bg-3">
                         <div class="cover-center">
                            <i class="fa fa-cog cover-icon-center cover-icon-round full-bottom"></i>
                            <h3 class="center-text bold uppercase">Coverpages</h3>
                            <p class="center-text">
                                We love building awesome stuff, and nothing 
                                says awesome stuff like a coverpage slider!
                            </p>
                            <a href="#" class="button button-cover button-center">Read More</a>
                        </div>
                        <div class="overlay bg-black"></div>
                    </div>
                    <div class="cover-slide cover-screen bg-6">
                         <div class="cover-center">
                            <i class="fa fa-cog cover-icon-center cover-icon-round full-bottom"></i>
                            <h3 class="center-text bold uppercase">Coverpages</h3>
                            <p class="center-text">
                                We love building awesome stuff, and nothing 
                                says awesome stuff like a coverpage slider!
                            </p>
                            <a href="#" class="button button-cover button-center">Read More</a>
                        </div>
                        <div class="overlay bg-black"></div>
                    </div>
                </div>
                 <!--subscribe page start-->       
            <!-- End of entire page content-->
        </div>
		 </div>  
    <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to top</a>
</div>
    
	<!--main_area end-->



	<!--Container end-->
</body>
</html>
